@inject NavigationManager _navigationManager
@inject IJSRuntime JSRuntime;

<MudDialog>
    <DialogContent>
        <p><b>Edition:</b> Student</p>
        <p><b>Version:</b> 1.0</p>
        <p><b>Release Date:</b> August 16th 2023</p>
        <p><b>Created by:</b> Deniz K. Acikbas, Kyle McCarthy, Samuel Stenerson, Parashar Parikh, Murad Tawfiq</p>
        <p><b>Programmers:</b> Deniz K. Acikbas (Front-End and Back-End), Parashar Parikh (Bug Fixing)</p>
        <p><b>Type: </b>Academic Group Project</p>
        <p><b>Term: </b>Summer 2023</p>
        <p><b>Course: </b>CIS 376 - Software Engineering II</p>
        <p><b>University: </b>University of Michigan-Dearborn</p>
        <p><b>Technologies:</b></p>
        <MudChip Variant="Variant.Text">Microsoft SQL Server 2019</MudChip>
        <MudChip Variant="Variant.Text">Entity Framework Core 6.0</MudChip>
        <MudChip Variant="Variant.Text">C#</MudChip>
        <MudChip Variant="Variant.Text">MudBlazor</MudChip>
        <MudChip Variant="Variant.Text">ASP.NET Core 7.0</MudChip>
        <MudChip Variant="Variant.Text">.NET Framework 7.0</MudChip>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Error" OnClick="SourceCode">Download Source Code</MudButton>
            <MudButton Color="Color.Error" OnClick="Submit">Ok</MudButton>
            </DialogActions>
    </MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private async void SourceCode()
    {
        await JSRuntime.InvokeAsync<object>("open", "https://github.com/denizkarya1999", "_blank");
    }
}