@page "/Expenses/AddExpense/Group/{UID:guid}"
@using Project.Detroit.Models
@using Project.Detroit.Services
@inject ExpenseService _expenseService
@inject GroupService _groupService
@inject NavigationManager _navigationManager
@inject ISnackbar Snackbar

<PageTitle>Project Detroit: Add Expense</PageTitle>

<MudPaper Class="pa-8 ma-5 mt-2" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Add Expense</strong></h1></MudText>
    <MudCard Elevation="2" Class="mt-4 pa-4">
        <MudTextField @bind-Value="@_expense.ExpenseName" Clearable="true" Label="Expense Name" Margin="Margin.Dense" />
        <MudTextField @bind-Value="@_expense.ExpenseAmount" Clearable="true" Label="Expense Amount ($)" Margin="Margin.Dense" />
    </MudCard>
    <MudButton Class="mt-4 mr-4" OnClick="CreateExpense" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success">ADD EXPENSE</MudButton>
    <MudButton Class="mt-4 mr-4" OnClick="Cancel" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Default">CANCEL</MudButton>
    </MudPaper>

@code {
    [Parameter] public Guid UID { get; set; }

    Group? currentGroup = new Group();

    // Create a new expense
    Expense _expense = new Expense()
    {
       Id = Guid.NewGuid()
    };

    protected override async Task OnInitializedAsync()
    {
        currentGroup = await Task.Run(() => _groupService.getGroupByIdAsync(UID));
        _expense.GroupID = currentGroup.Id;
    }

    //Create Expense
    protected async void CreateExpense()
    {
        currentGroup.groupBalance = currentGroup.groupBalance - _expense.ExpenseAmount;
        await _groupService.UpdateGroupAsync(currentGroup);
        await _expenseService.CreateExpense(_expense);
        _navigationManager.NavigateTo($"/Expenses/groupExpenses/{UID}");
        Snackbar.Add("Operation successfully completed", Severity.Success);
    }

    // Cancel operation
    void Cancel()
    {
        _navigationManager.NavigateTo($"Expenses/groupExpenses/{UID}");
    }
}
