@page "/Expenses/DeleteExpense/Group/{Id:guid}"
@using Project.Detroit.Models
@using Project.Detroit.Services
@inject ExpenseService _ExpenseService
@inject GroupService _GroupService
@inject NavigationManager _navigationManager
@inject ISnackbar Snackbar

<PageTitle>Project Detroit: Delete Expense</PageTitle>

<MudPaper Class="pa-8 ma-5 mt-2" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Delete Expense</strong></h1></MudText>
    <MudText Class="mb-2">Are you sure want to delete this expense?</MudText>
    <MudCard Elevation="2" Class="mt-4 pa-4">
        <MudText Class="mb-2"><h1><strong>@_expense.ExpenseName</strong></h1></MudText>
        <MudCard Elevation="2" Class="mt-4 pa-4">
            <MudText><MudIcon Icon="@Icons.Material.Filled.Money" Size="Size.Small" /> Has an amount of $@_expense.ExpenseAmount</MudText>
        </MudCard>
        <MudButton Class="mt-4 mr-4" OnClick="RemoveExpense" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error">DELETE</MudButton>
        <MudButton Class="mt-4 mr-4" OnClick="Cancel" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Default">CANCEL</MudButton>
    </MudCard>
    </MudPaper>

@code {
    [Parameter] public Guid Id { get; set; }

    Group? currentGroup = new Group();

    Expense _expense = new Expense();

    protected override async Task OnInitializedAsync()
    {
        _expense = await Task.Run(() => _ExpenseService.GetExpenseById(Id));
        currentGroup = await Task.Run(() => _GroupService.getGroupByIdAsync(_expense.GroupID.Value));
    }

    //Delete Expense
    protected async void RemoveExpense()
    {
        currentGroup.groupBalance = currentGroup.groupBalance + _expense.ExpenseAmount;
        await _ExpenseService.DeleteExpense(_expense.Id);
        _navigationManager.NavigateTo($"/Expenses/groupExpenses/{currentGroup.Id}");
        Snackbar.Add("Operation successfully completed", Severity.Success);
    }

    //Cancel operation
    void Cancel()
    {
        _navigationManager.NavigateTo($"/Expenses/groupExpenses/{currentGroup.Id}");
    }
}
